html {
  scroll-behavior: smooth;
}
.scroll-container {
  /* Set this to match the height of your navbar */
  margin-top: 80px; 
  height: calc(100vh - 80px); /* Adjust height so scrolling still works */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}